### <div class="alert alert-info" align="center">Patterns</div>

### 1

In [1]:
n=5
for i in range(n+1):
    print("* "*i)

*
* *
* * *
* * * *
* * * * *

### 2

In [17]:
k=1
n=5
for i in range(n):
    for j in range(i+1):
        print(k,end=" ")
        k+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

### 3

In [20]:
n=6
for i in range(1,n+1):
    print(" "*(n-i),"* "*i)

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

### 4

In [42]:
n=6
for i in range(1,n+1):
    print(" "*(n-i),"* "*i)
for i in range(1,n):
    print(" "*i,"* "*(n-i))

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

### 5

In [49]:
n=5
k=2*n-1
for i in range(1,n+1):
    print(" "*(i),"*"*k)
    k=k-2
k=3
for i in range(1,n):
    print(" "*(n-i),"*"*k)
    k=k+2

  *********
   *******
    *****
     ***
      *
     ***
    *****
   *******
  *********

### 6

In [80]:
n=9
s=0
for i in range(1,n+1):
    if i==1:
        print("*")
    elif i==n:
        print("* "*n)
    else:
        print("*",s*" ","*")
        s=s+2

*
*  *
*    *
*      *
*        *
*          *
*            *
*              *
* * * * * * * * *

### 7

In [118]:
n=5
for i in range(1,n+1):
    
    for j in range(n-i):
        print(" ",end="")
    k=i+1
    for j in range(2*i-1):

        if j+1<=i:

            k=k-1
            print(k,end="")
        else:
            k=k+1
            print(k,end="")
    print()

    1
   212
  32123
 4321234
543212345

### <div class="alert alert-info" align="center">General Questions</div>

#### 1. Prime numbers within range

In [127]:
r1=1
c=0
r2=100
def prime(n):
    if n==1:
        return False
    for i in range(2,n//2+1):
        if n%i==0:
            return False
    else:
        return True
for i in range(r1,r2):
    if prime(i)==True:
        c=c+1
        print(i,end=" ")
print("\n")
print("total prime numbers in this range:",c)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

total prime numbers in this range: 25

 #### 2. Check if a number is armstrong or not:sum of digit cubes  a number is equal to number itself

In [132]:
n=153
sum(list(map(lambda x:x**3,list(map(int,str(n))))))==n

True

#### 3. Factorial of a number

In [134]:
n=5
def fact(n):
    if n<=0:
        return 1
    return n*fact(n-1)
fact(5)

120

#### 4. Reverse a number

In [136]:
n=123
int(str(n)[::-1])

321

#### 5. Sum of digits of a number

In [137]:
sum(map(int,str(123)))

6

#### 6. Given non-zero two integers N and M. The problem is to find the number closest to N and divisible by M. If there are more than one such number, then output the one having maximum absolute value

In [218]:
n=-15
m=6
if n/abs(n)==-1 or m/abs(m)==-1:
    i=n*m
else:
    i=1
d={}

while True:
    if i%m==0:
        d[i]=abs(n-i)
    if i==abs(m)*abs(n):
        break
    i=i+1
    
l=sorted(d.values())

In [222]:
k=[]
for i in d:
    if d[i]==l[0]:
        k.append(i)
k

[-18, -12]

In [224]:
#selecting largest number by absolute value
max(k,key=lambda x:abs(x))

-18

#### 7.  Program to find if all adjacent digits of a number differs by 1

In [235]:
n=4323456
l=list(map(int,str(n)))
for i,ele in enumerate(l):
    if i+1<len(l):
        if ele+1==l[i+1] or ele-1==l[i+1]:
            pass
        else:
            print("False")
            break
else:
    print("True")

True

#### 8. Find all pairs of prime numbers (p,q) such that p*q <= n, where n is given number.

In [240]:
def prime(n):
    if n==1:
        return False
    for i in range(2,n//2+1):
        if n%i==0:
            return False
    else:
        return True
n=8
l=[]
for i in range(1,n+1):
    if prime(i)==True:
        l.append(i)
l

[2, 3, 5, 7]

In [255]:
#pair of prime numbers in l whose product =n
for i in range(0,len(l)):
    for j in range(0,len(l)):
        if l[i]*l[j]<=n:
            print(l[i],l[j])

2 2
2 3
3 2

#### 9. fibanacci numbers till n

In [409]:
t1=0
t2=1
t3=1
n=25
print(t1,t2,end=" ")
while t3<=n:
    print(t3,end=" ")
    t1=t2
    t2=t3
    t3=t1+t2

0 1 1 2 3 5 8 13 21

### <div class="alert alert-info" align="center">List</div>

#### 1. product of all elements in list

In [256]:
l=[4,2,3]
m=1
for i in l:
    m=m*i
m

24

#### 2. find index of 5 largest elements in a list

In [264]:
l=[2,5,6,9,11,12,4]
s=sorted(l,reverse=True)[:5]
for i in s:
    print(i,l.index(i))

12 5
11 4
9 3
6 2
5 1

#### 3. Count of elements of list whose length is >=2 and whose first and last characters are same

In [271]:
l=['abc', 'xyz', 'aba', '1221']
c=0
for i in l:
    if len(i)>=2 and i[0]==i[-1]:
        print(i)
        c=c+1
print("count:",c)

aba
1221
count: 2

#### 4. Sort based on key

In [272]:
l=[("aa",3),("sd",2),("rt",8),("qw",1)]
sorted(l,key=lambda x:x[1])

[('qw', 1), ('sd', 2), ('aa', 3), ('rt', 8)]

#### 5. Remove duplicate from strings

In [279]:
l=[5,3,1,1,2,3,2,4,5,6]
list(dict.fromkeys(l).keys())

[5, 3, 1, 2, 4, 6]

#### 6. Python function that takes two lists and returns True if they have at least one common member

In [288]:
l1=[1,2,3,4]
l2=[9,5,6,7]
for i in l1+l2:
    if (i in l1 and i in l2):
        print("yes")
        break
else:
    print("False")

False

#### 7. program to print the numbers of a specified list after removing even numbers from it

In [290]:
#using filter
l=[1,2,3,4,5,6,7,8,9]
list(filter(lambda x:x%2==1,l))

[1, 3, 5, 7, 9]

In [291]:
#using list comprehension
[i for i in l if i%2!=0]

[1, 3, 5, 7, 9]

In [299]:
l=[1,2,3,4,5,6,7,8,9]
for i in l:
    if i%2==0:
        l.remove(i)
l

[1, 3, 5, 7, 9]

#### 8.  program to generate all permutations of a list in Python

In [298]:
l=[1,2,3]
import itertools
list(itertools.permutations(l))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

#### 9. difference between the two lists

In [301]:
l1=[1,5,9]
l2=[4,5,6]
[i-j for i,j in zip(l1,l2)]

[-3, 0, 3]

#### 10. program to find the second smallest number in a list

In [304]:
l=[1,1,2,3,4,5]
small=min(l)
for i in sorted(l):
    if i !=small:
        print(i)
        break

2

In [313]:
l=[1,1,2,3,4,5]
l=list(set(l))
l.sort()
l[1]

2

#### 11. count of all elements in a list

In [317]:
l=[1,1,1,2,2,3,4,5,6]
{i:l.count(i) for i in l}

{1: 3, 2: 2, 3: 1, 4: 1, 5: 1, 6: 1}

#### 12. list contain sublist or not in continuos manner: l=[1,2,3,4,5,6] and sublist=[1,3] , then false

In [331]:
l=[1,2,3,4,5,6]
sub=[2,3]
a=[l[i:i+2] for i in range(len(l))]
print(a)
print(sub in a)

[[1, 2], [2, 3], [3, 4], [4, 5], [5, 6], [6]]
True

####  13. create a list by concatenating a given list with a range from 1 to n

In [333]:
l=["p","q"]
n=5
k=[]
for i in l:
    for j in range(1,n+1):
        k.append(i+str(j))
k

['p1', 'p2', 'p3', 'p4', 'p5', 'q1', 'q2', 'q3', 'q4', 'q5']

#### 14. find common items in two lists

In [335]:
l=[1,2,3,5]
l2=[4,4,5,1]
for i in l:
    if i in l2:
        print(i)

1
5

#### 15. insert an element before each element of a list

In [336]:
n="a"
l=[1,2,3,4,5]
for i in range(2*len(l)):
    if i%2==0:
        l.insert(i,n)
l

['a', 1, 'a', 2, 'a', 3, 'a', 4, 'a', 5]

#### 16. split a list every nth element

In [359]:
l=[1,2,3,4,5,6,7,8,9]
n=3
[l[i::n] for i in range(0,len(l))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9], [4, 7], [5, 8], [6, 9], [7], [8], [9]]

#### 17. remove elements of a list l1 which are  in l2

In [370]:
l1=[1,2,3,4,5,6,1,2]
l=list(set(l1))
l2=[1,2,3]
for i in l:
    if i in l2:
        l.remove(i)
l

[2, 4, 5, 6]

#### 18.  move all x to the starting of the list

In [377]:
x=4
l=[1,6,7,4,3,0,4]
for i in range(len(l)):
    if l[i]==x:
        l.insert(0,x)
        l.pop(i+1)
l

[4, 4, 1, 6, 7, 3, 0]

#### 19.  remove consecutive duplicates

In [388]:
l=[7,4,1,1,2,3,2,1,4,4,9,9,9]
for i in range(len(l)-1):
    if l[i]==l[i+1]:
        l[i]=""
[i for i in l if i!=""]

[7, 4, 1, 2, 3, 2, 1, 4, 9]

#### 20. most occuring item in the list

In [403]:
l=[7,4,1,1,2,3,2,1,4,4,9,9,9]
d={i:l.count(i) for i in l}
print(d)
for i in d:
    if d[i]==max(d.values()):
        print(i)

{7: 1, 4: 3, 1: 3, 2: 2, 3: 1, 9: 3}
4
1
9

#### 21. all indexes of most repeating elements

In [458]:
l=[9,7,8,3,1,3,2,7,3,7]
d={i:l.count(i) for i in l}           #dictionary of count of elements
r=[i for i in d if d[i]==max(d.values())]    #most repeating elements
for j in r:
    print({j:[i for i in range(len(l)) if l[i]==j]})  # index of elements

{7: [1, 7, 9]}
{3: [3, 5, 8]}

In [459]:
#demo:
#since index gives only index of first occurence do this
#index of 1
l=[1,2,3,1]
[i for i in range(len(l)) if l[i]==1]

[0, 3]

#### 22. maximum and minimum product of pairs of tuples within a given list.

In [447]:
l=[(1,2),(6,5),(3,8),(2,5),(3,6),(30,1),(2,1)]
p=list(map(lambda x:x[0]*x[1],l))
max_ind=[i for i in range(len(p)) if p[i]==max(p)]
min_ind=[i for i in range(len(p)) if p[i]==min(p)]
print([l[i] for i in max_ind],"\n",[l[i] for i in min_ind])

[(6, 5), (30, 1)]
 [(1, 2), (2, 1)]

#### 22. swap elements in index n and m

In [463]:
l=[10,20,30,40,50,60,70]
n=2
m=4
l[m],l[n]=l[n],l[m]
l

[10, 20, 50, 40, 30, 60, 70]

#### 23. push all the strings at the end of the list

In [498]:
l=[1,"x","a",2,"b",5,"c"]
s=[]
for i in range(len(l)):
    if type(l[i])==str:
        s.append(l[i])
        l[i]=""
[i for i in l if i!=""]+s

[1, 2, 5, 'x', 'a', 'b', 'c']

#### 24. create the largest possible number using the elements of a given list of positive integers.

In [516]:
def largestNumber(array):
    #If there is only one element in the list, the element itself is the largest element.
    if len(array)==1:
        return str(array[0])
    #First, we convert a list into a string array that is suitable for concatenation
    for i in range(len(array)):
        array[i]=str(array[i])
    # [54,546,548,60]=>['54','546','548','60']
    #Second, we find the largest element by swapping technique.
    for i in range(len(array)):
        for j in range(1+i,len(array)):
            if array[j]+array[i]>array[i]+array[j]:
                array[i],array[j]=array[j],array[i]
    #['60', '548', '546', '54']
 
    result=''.join(array)
    #Edge Case: If all elements are 0, answer must be 0
    if(result=='0'*len(result)):
        return '0'
    else:
        return result

if __name__ == "__main__":
    a = [54, 546, 548, 60]
    print(largestNumber(a))

6054854654

#### 25. calculate the largest and smallest gap between sorted elements of a list of integers.

In [534]:
l=[1,3,2,89,45,22]
l.sort()
bi=[l[i:i+2] for i in range(len(l)-1)]  #bigram elements of list
diff=list(map(lambda x:abs(x[0]-x[1]),bi)) # difference list
max_index=diff.index(max(diff))  #index of max difference 
min_index=diff.index(min(diff))
bi[max_index],bi[min_index]

([45, 89], [1, 2])

#### 26. Right shift elements by 2

In [559]:
l=[10,20,30,40,50,60,70]
l[-2:]+l[0:-2]

[60, 70, 10, 20, 30, 40, 50]

#### 27. cumulative sum of elements in list

In [561]:
l=[10,20,30,40,50,60,70]
cum=[]
for i in range(len(l)):
    cum.append(sum(l[0:i+1]))
cum

[10, 30, 60, 100, 150, 210, 280]

#### 28. square and cube of elements of list

In [572]:
l=[10,20,30]
list(map(lambda x:(x**2,x**3),l))

[(100, 1000), (400, 8000), (900, 27000)]

#### 29. elements of list starting with a

In [567]:
l=["asa","awee","ert","yty"]
list(filter(lambda x:x.startswith("a"),l))

['asa', 'awee']

#### 30. if element is a number

In [581]:
l=["aa","sad","sdc","121","783s","45"]
list(filter(lambda x:x.isdigit(),l))

['121', '45']

#### 31. intersection of two lists using lambda

In [593]:
l1=[6,1,2,3,4,7]
l2=[4,5,6,7]
list(filter(lambda x:x in l1,l2))

[4, 6, 7]

#### 32. separate positive and negative numbers

In [594]:
l=[-1,2,-8,4,3]
list(filter(lambda x:x<0,l))+list(filter(lambda x:x>=0,l))

[-1, -8, 2, 4, 3]

#### 33. count of even and odd numbers

In [601]:
l=[1,2,3,4,5,6,7,8,9]
even=len(list(filter(lambda x:x%2==0,l)))
odd=len(l)-even
even,odd

(4, 5)

#### 34. add two lists

In [607]:
l1=[6,1,2,3,4,7]
l2=[4,5,6,7]
#list(map(lambda x:x[0]+x[1],zip(l1,l2)))
#or
list(map(lambda x,y:x+y,l1,l2))

[10, 6, 8, 10]

#### 35.longest possible continous sequence of numbers from the given list

In [631]:
l=[2,6,12,9,16,10,5,3,20,25,11,1,8]
l.sort()
d=dict.fromkeys(l,1)
l

[1, 2, 3, 5, 6, 8, 9, 10, 11, 12, 16, 20, 25]

In [639]:
ele=l[0]
for i in range(len(l)-1):
    if (l[i]+1)==(l[i+1]):
        d[ele]+=1
    else:
        ele=l[i+1]
print(d)
print(max(d.values()))

{1: 3, 2: 1, 3: 1, 5: 2, 6: 1, 8: 5, 9: 1, 10: 1, 11: 1, 12: 1, 16: 1, 20: 1, 25: 1}
5

#### 36. count palindromes in a list

In [637]:
l=[123,454,676,989,433]
c=0
def palindrome(n):
    n=str(n)
    r=n[::-1]
    if r==n:
        return True
    else:
        return False
for i in l:
    if palindrome(i)==True:
        c=c+1
c

3

#### 37. replace all numbers with their sum in strings

In [659]:
l=["1ak2","23ssd","43df","1q8w"]
for i in range(len(l)):
    n=list(filter(lambda x:x.isdigit(),l[i]))
    add=sum(map(lambda x:int(x),n))
    alp=list(filter(lambda x:x.isalpha(),l[i]))
    l[i]="".join(alp)+str(add)
l

['ak3', 'ssd5', 'df7', 'qw9']

#### 38. sort by occurences

In [671]:
l=[1,2,3,3,3,4,4,4,5,5,8,8,8,1,5,4,3]
l.sort(reverse=True)
sorted(l,key=l.count,reverse=True)

[4, 4, 4, 4, 3, 3, 3, 3, 8, 8, 8, 5, 5, 5, 1, 1, 2]

#### 39. sort by length of string

In [672]:
l=["aa","aaa","aaaa","a"]
sorted(l,key=lambda x:len(x))

['a', 'aa', 'aaa', 'aaaa']


#### 40. find numbers within a given range where it is divisible by every digit it contains.

In [692]:
r1=8
r2=23
def fun(n):
    l=list(map(lambda x:int(x),str(n)))
    if 0 in l:
        return False
    l2=list(filter(lambda x:n%x==0,l))
    if l==l2:
        return True
    else:
        return False
for i in range(r1,r2):
    if fun(i)==True:
        print(i)

8
9
11
12
15
22

### <div class="alert alert-info" align="center">Dictionary</div>

In [711]:
d={i:i*2 for i in range(6,12)}
d

{6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22}

#### 1. second largest value in a dictionary

In [717]:
l=sorted(d.values(),reverse=True)
max=l[0]
for i in l:
    if i!=max:
        print(i)
        break

20

#### 2. remove  key that contains duplicate values(keep first occurence)

In [725]:
d={"a":1,"b":1,"c":2,"d":3}
l=[]
for i in d.copy():
    if d[i] in l:
        d.pop(i)
    else:
        l.append(d[i])
d

{'a': 1, 'c': 2, 'd': 3}

#### 3. combine two dictionary by adding values for common keys

In [755]:
d1={1:100,2:200,3:300}
d2={4:12,1:98,6:145}
for i in d1:
    if i in d2:
        d1[i]+=d2[i]
d1

{1: 198, 2: 200, 3: 300}

In [756]:
d2|d1wh

{4: 12, 1: 198, 6: 145, 2: 200, 3: 300}

#### 4. get top3 items

In [775]:
d={"item1":780,"item2":370,"item3":910,"item4":200,"item5":500,"item6":670}
d=dict(sorted(d.items(),key=lambda x:x[1],reverse=True))
print(d)
list(d.values())[:3]

{'item3': 910, 'item1': 780, 'item6': 670, 'item5': 500, 'item2': 370, 'item4': 200}

[910, 780, 670]

#### 5. Remove elements from dictionary whose values less than n

In [777]:
n=100
d={"a":10,"b":345,"c":123,"d":56,"e":78}
{i:j for i,j in d.items() if j>100}   #using dictionary comprehension

{'b': 345, 'c': 123}

In [779]:
#using for loop,use .copy() if lenght of dictionary changes during iteration
for i in d.copy():
    if d[i]<100:
        d.pop(i)
d

{'b': 345, 'c': 123}

#### 6. list of tuples into dictionary

In [781]:
l=[('yellow', 1),('blue', 4), ('red', 1)]
{i[0]:i[1] for i in l}

{'yellow': 1, 'blue': 4, 'red': 1}

In [ ]:
#considering duplicate keys:

In [850]:
l=[('yellow', 1), ('blue', 2), ('yellow', 3), ('blue', 4), ('red', 1)]
d={}
for i,j in l:
    d.setdefault(i,[]).append(j)
d

{'yellow': [1, 3], 'blue': [2, 4], 'red': [1]}

#### 7. sort dictionary based on length of strings in value

In [4]:
d={1:"a",2:"aaa",3:"aa",4:"aaaa"}
sorted(d.items(),key=lambda x:len(x[1]),reverse=True)

[(4, 'aaaa'), (2, 'aaa'), (3, 'aa'), (1, 'a')]

#### 8.  filter items with values having even number

In [6]:
d={"a":1,"b":2,"c":3,"d":4,"e":5}
{i:j for i,j in d.items() if j%2==0}

{'b': 2, 'd': 4}

### <div class="alert alert-info" align="center">Strings</div>

#### 1. character frequency of a string

In [8]:
s="akshay"
{i:s.count(i) for i in s}

{'a': 2, 'k': 1, 's': 1, 'h': 1, 'y': 1}

#### 2. reverse each words in string

In [31]:
s="hello how are you"
" ".join([i[::-1] for i in s.split(" ")])

'olleh woh era uoy'

#### 3. create a string from first and last alphabet of words in a string

In [46]:
s="hello, how are u be good?"
s="".join([i for i in s if i.isalpha()==True or i==" "])
" ".join([i[0]+i[-1] if len(i)!=1 else i for i in s.split()  ])

'ho hw ae u be gd'

#### 4. swap 'a' and 'z' in string

In [57]:
s="abcdzaiz"
d={"a":"z","z":"a"}
t=s.maketrans(d)
s.translate(t)

'zbcdazia'

#### 5. add count of continuous occurence of character in string

In [64]:
s="aarwwwzp"
c=1
i=0
while True:
    if s[i]==s[-1]:
        s=s+str(c)
        breaks
    if s[i]==s[i+1]:
        c=c+1
    else:
        s=s[:i+1]+str(c)+s[i+1:]
        i=i+1
        c=1
    i+=1
s

'aa2r1www3z1p1'